# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

.ipynb_checkpoints/

# Node.js
node_modules/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/

# IDE
.idea/
.vscode/

# Compiled files
*.pyc
*.pyo
*.pyd

# Temporary files
*~
*.swp
*.bak
